@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    background: #293f50;
    color: #888;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

#cat {
    height: 40%;
    width: 40%;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

h1 {
    color: white;
}

#btn {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

div {
    text-align: center;
}

footer {
    background-color: red;
    color: #f06868;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}